
body {
    background-image: url(./../images/snow.jpeg);
     background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.container {
    background: rgba(80, 75, 75, 0.425);
    border-radius: 25px;
    text-align: center;
    margin: 15px auto;
    padding:10px;
}

.logo {
    text-decoration: underline;
    text-shadow: 5px 2px 2px rgba(150, 150, 150, 1);
}

ul {
    list-style-type: none;
}

/* DO NOT change these display emlements. They are changed in the app.js file to switch through the screens. */
#startScreen {
    display: block;
}

#gamePlay {
    display: none;
}

#gameOverScreen {
    display: none;
}