
body {
    background-image: url(./../images/snow.jpeg);
     background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.container {
    background: rgba(80, 75, 75, 0.425);
    border-radius: 25px;
    text-align: center;
    margin: 15px auto;
    padding:10px;
}

.logo {
    text-decoration: underline;
    text-shadow: 5px 2px 2px rgba(150, 150, 150, 1);
}
/* .logo:nth-letter(1) {
    color: 	#3e76ec;
}
.logo:nth-letter(2) {
    color: #000000;
}
.logo:nth-letter(3) {
    color: #ff0000;
}
.logo:nth-letter(4) {
    color: #ffce01;
}
.logo:nth-letter(5) {
    color: #179a13;
} */

ul {
    list-style-type: none;
    
}

#startScreen {
    display: block;
    /* background:red; */
}

#gamePlay {
    display: none;
    /* background:red; */

}

#gameOverScreen {
    display: none;
    /* background:red; */

}